/**
 *Ã¦â€°Â©Ã¥Â±â€¢Ã¦Â Â·Ã¥Â¼Â
 */

.btn-register {
    color: #FFFFFF;
    background-color: #E9232C;
    border-color: #DB3B43;
}

.btn-register:hover,
.btn-register:focus,
.btn-register:active,
.btn-register.active,
.open .dropdown-toggle.btn-register {
    color: #FFFFFF;
    background-color: #E9232C;
    border-color: #DB3B43;
}

.btn-register:active,
.btn-register.active,
.open .dropdown-toggle.btn-register {
    background-image: none;
}

.btn-register.disabled,
.btn-register[disabled],
fieldset[disabled] .btn-register,
.btn-register.disabled:hover,
.btn-register[disabled]:hover,
fieldset[disabled] .btn-register:hover,
.btn-register.disabled:focus,
.btn-register[disabled]:focus,
fieldset[disabled] .btn-register:focus,
.btn-register.disabled:active,
.btn-register[disabled]:active,
fieldset[disabled] .btn-register:active,
.btn-register.disabled.active,
.btn-register[disabled].active,
fieldset[disabled] .btn-register.active {
    background-color: #E9232C;
    border-color: #DB3B43;
}

.btn-register .badge {
    color: #E9232C;
    background-color: #FFFFFF;
}

.navbar-itcast {
    background-color: #fff;
    border-color: #f5f5f5;
    height: 80px;
    margin-bottom: 0px;
    top:0;
    width: 100%;
}

.navbar-itcast .navbar-brand {
    color: #777;
}

.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-itcast .navbar-text {
    color: #777;
}

.navbar-itcast .navbar-nav > li > a {
    color: #777;
    line-height: 47px;
    font-size: 14px;
}

.navbar-itcast .navbar-nav > li > a:hover,
.navbar-itcast .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 3px solid red;
}

.navbar-itcast .navbar-nav > .active > a,
.navbar-itcast .navbar-nav > .active > a:hover,
.navbar-itcast .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #fff;
    border-bottom: 3px solid red;
}

.navbar-itcast .navbar-nav > .disabled > a,
.navbar-itcast .navbar-nav > .disabled > a:hover,
.navbar-itcast .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-itcast .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
}

.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-itcast .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
    border-color: #e7e7e7;
}

.navbar-itcast .navbar-nav > .open > a,
.navbar-itcast .navbar-nav > .open > a:hover,
.navbar-itcast .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }

    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-itcast .navbar-link {
    color: #777;
}

.navbar-itcast .navbar-link:hover {
    color: #333;
}

.navbar-itcast .btn-link {
    color: #777;
}

.navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link:focus {
    color: #333;
}

.navbar-itcast .btn-link[disabled]:hover,
fieldset[disabled] .navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link[disabled]:focus,
fieldset[disabled] .navbar-itcast .btn-link:focus {
    color: #ccc;
}

.panel-xiaohui {
    border-color: #ddd;
}

.panel-xiaohui > .panel-heading {
    color: #333;
    /* background-color: #f5f5f5; */
    /* border-color: #ddd; */
    float: right;
    width: 120px;
    padding: 0;
    height: 150px;
    border-left: 1px dashed #ccc;
    position: relative;
}

.panel-xiaohui > .panel-body {
    margin-right: 120px;
    height: 150px;
}

.panel-xiaohui > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}

.panel-xiaohui > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}

.panel-xiaohui > .panel-heading::before, .panel-xiaohui > .panel-heading::after {
    content: ' ';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f0f0f0;
    position: absolute;

}

.panel-xiaohui > .panel-heading::before {
    top: -8px;
    left: -8px;
}

.panel-xiaohui > .panel-heading::after {
    bottom: -8px;
    left: -8px;
    box-shadow: 0 2px 1px #ccc inset;
}

.panel-xiaohui.actived::before {
    font-family: weijinsuoFonts;
    content: '\e915';
    font-size: 50px;
    position: absolute;
    top: -10px;
}

.panel-xiaohui.actived {
    background-color: #e92233;
    color: white;
}

.panel-xiaohui.disabled {
    background-color: #cccccc;
}

/**
 *Ã¥â€¦Â¬Ã¥â€¦Â±Ã¦Â Â·Ã¥Â¼Â
 */
body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

@font-face {
    font-family: 'weijinsuoFonts';
    src: url('../font/MiFie-Web-Font.eot?6cyhth#iefix') format('embedded-opentype'),
    url('../font/MiFie-Web-Font.svg?6cyhth#MiFie-Web-Font') format('svg'),
    url('../font/MiFie-Web-Font.ttf?6cyhth') format('truetype'),
    url('../font/MiFie-Web-Font.woff?6cyhth') format('woff');
}

[class^="icon-"], [class*=" icon-"] {
    font-family: weijinsuoFonts;
    font-style: normal;
}

.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}

.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}

.icon-logo::before {
    content: "\e93e";

}

.icon-icon::before {
    content: "\e920";
}

.icon-uniE907:before {
    content: "\e907";
}

.icon-uniE906:before {
    content: "\e906";
}

.icon-uniE905:before {
    content: "\e905";
}

/**
 *Ã¥Â¤Â´Ã©Æ’Â¨Ã¦Â Â·Ã¥Â¼Â
 */
#header {
    /*height: 200px;*/
}

#header > .topbar {
    height: 40px;
    border-bottom: 1px solid gray;
    line-height: 40px;
}

#header > .topbar > .container > .row > div {
    height: 40px;
}

#header > .topbar > .container > .row > div + div {
    border-left: 1px solid gray;
}

#header .mobile-link {
    font-size: 10px;
    color: #888;
}

#header .mobile-link:hover {
    text-decoration: none;
}

#header .mobile-link > img {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 30px;
    z-index: 1001;
}

#header .mobile-link:hover > img {
    display: block;

}

#header .icon-icon {
    font-size: 50px;
    color: #E92322;
    line-height: 50px;
    vertical-align: middle;
}

#header .icon-logo {
    font-size: 32px;
    color: #333;
    line-height: 50px;
    vertical-align: middle;
}

/*#header>.topbar>.container{*/
/*height: 40px;*/
/*background: paleturquoise;*/
/*}*/
/**
 *Ã©â‚¬Å¡Ã¦Â ÂÃ¥Â¹Â¿Ã¥â€˜Å Ã¨Â½Â®Ã¦â€™Â­
 */
#main-a {

}

#main-a > .carousel-inner > .item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (min-width: 768px) {
    #main-a > .carousel-inner > .item {
        height: 410px;
    }
}

#main-a > .carousel-inner > .item > img {
    width: 100%;
}

/**
 *Ã§â€°Â¹Ã¨â€°Â²Ã¥Å’ÂºÃ¥Å¸Å¸
 */
#tese {
    padding: 50px 0;
    border-bottom: 1px solid gray;
}

#tese i {
    font-size: 34px;
}

#tese > .container > .row > div {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*#tese >.container>.row>div:nth-of-type(2n+1){
    background-color: blue;
}*/
/**
 *Ã§Â«â€¹Ã¥ÂÂ³Ã©Â¢â€žÃ§ÂºÂ¦
 */
#ljyy {
    padding: 20px 0;
    border-bottom: 1px solid gray;
}

#ljyy > .container > p {
    /*line-height: 50px;*/
    font-size: 14px;
    margin-bottom: 0;
}

#ljyy > .container > .pull-left > span,
#ljyy > .container > .pull-left > a {
    color: #e92322;

}

#ljyy > .container > .pull-left > a {
    border-bottom: 1px dashed #e92322;
}

#ljyy > .container > .pull-left > a:hover,
#ljyy > .container > .pull-right > a:hover {
    text-decoration: none;
}

/**
 *Ã¤ÂºÂ§Ã¥â€œÂÃ¦Å½Â¨Ã¨ÂÂ
 */
#products {
    background-color: #f0f0f0;
    padding: 40px 0;
}

#products > .container > .ul-wapper {
    overflow-x: scroll;
}

#products > .container > .ul-wapper > .nav-tabs {
    margin-left: 20px;
}

#products > .container > .ul-wapper > .nav-tabs > li > a {
    color: #333;
    font-size: 16px;
}

#products > .container > .ul-wapper > .nav-tabs > li > a:hover {
    background-color: #e0e0e0;
    color: #111;
}

#products > .container > .ul-wapper > .nav-tabs > li.active > a {
    background-color: transparent;
    border: 0;
    border-bottom: 4px solid #e90233;
}

#products > .container > .ul-wapper > .tab-content {
    padding: 20px 0;
}

#products > .container > .ul-wapper > .tab-content p {
    margin-bottom: 0;
}

#products > .container > .ul-wapper > .tab-content h5 {

    padding-left: 10px;
}

#products > .container strong {
    color: #fff;
    font-size: 36px;
    text-align: center;
}

/**
 *Ã¦â€“Â°Ã©â€”Â»Ã¥Ë†â€”Ã¨Â¡Â¨
 */
#news {
    padding: 50px;
    border-bottom: 1px solid gray;
}

#news .new-title {
    padding: 15px;
    border-bottom: 2px dashed gray;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    position: relative;
    margin-right: 10px;
}

#news .new-title::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    position: absolute;
    bottom: -5px;
    right: -10px;
}

@media (max-width: 768px) {
    #news .nav-stacked > li {
        float: left;
        margin-right: 50px;
    }
}

#news .nav-stacked > li {
    float: none;
    text-align: center;
}

#news .tab-content ul {
    list-style: none;
}

#news .tab-content li {

    line-height: 50px;

    font-size: 20px;
    cursor: pointer;
}

#news .tab-content li:hover {
    color: #e90233;

}

/**
 *Âåˆä½œåˆ—è¡¨
 */
#partner {
    padding: 50px 0;
}

.partner-list {
    list-style: none;
    padding: 0;
    font-size: 0;
}

.partner-list > li {
    display: inline-block;
    width: calc(100% / 9);
    font-size: 50px;
    line-height: 1;
}

.partner-list > li + li {
    border-left: 1px dashed #c0c0c0;
    color: #ddd;
}

.partner-list > li > a {
    color: #999;
}

.partner-list > li > a:hover {
    text-decoration: none;
}

/**
 *Ã¥Â°Â¾Ã©Æ’Â¨
 */
#footer {
    height: 200px;
    background: plum;
}

.icon-news04:before {
    content: "\e911";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news03:before {
    content: "\e910";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news02:before {
    content: "\e90f";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news01:before {
    content: "\e90e";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-uniE930:hover {
    color: #df3232;
}

.icon-uniE930:before {
    content: "\e946";
}

.icon-uniE92F:hover {
    color: #e8380d;
}

.icon-uniE92F:before {
    content: "\e92f";
}

.icon-uniE92E:hover {
    color: #ed6f00;
}

.icon-uniE92E:before {
    content: "\e92e";
}

.icon-uniE92A:hover {
    color: #159f69;
}

.icon-uniE92A:before {
    content: "\e92a";
}

.icon-uniE929:hover {
    color: #07569e;
}

.icon-uniE929:before {
    content: "\e929";
}

.icon-uniE931:hover {
    color: #004098;
}

.icon-uniE931:before {
    content: "\e931";
}

.icon-uniE92C:hover {
    color: #d32019;
}

.icon-uniE92C:before {
    content: "\e92c";
}

.icon-uniE92B:hover {
    color: #3eac4a;
}

.icon-uniE92B:before {
    content: "\e92b";
}

.icon-uniE92D:hover {
    color: #2bb289;
}

.icon-uniE92D:before {
    content: "\e92d";
}